<div class="container-fluid p-0">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-black">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="/docs/5.1/assets/brand/bootstrap-logo.svg"
              alt=""
              width="30"
              height="24"
            />
          </a>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
	<div class="col baner">
		<p>Developer Freelancer</p>
	</div>
  </div>
</div>
