* {
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  background-color: rgb(37, 39, 52) !important;
  
}

.nav-link i:hover {
  border: 1px white !important;
  color: rgb(75, 98, 249) !important;
}

.logo {
  width: 130px;
  height: 70px;
}

button {
  color: white !important;
}

.baner {
  object-fit: cover;
  width: 100%;
}
