<div class="container-fluid acercaDe">
  <div class="row-about">
    <div class="col-md-2 order-first perfil">
      <img
        src="../../../assets/foto-perfil.jpeg"
        alt=""
        class="img-fluid foto-perfil"
      />
    </div>
    <div class="col-sm-12 col-md-3 col-xl-3 order-first name-work">
      <p class="nombre text-white">
        Francisco Sottile</p>
        <p class="carrera text-white">Full Stack Developer <br>( Junior)
      </p>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-6">
      <span
        ><h1 class="acercaDeMi text-uppercase text-center text-white">
          acerca de mi
        </h1>
        <p class="sobreMi text-center text-white px-4">
          Mi nombre es Francisco Sottile. Soy un apasionado por la tecnología y eso fue lo que me impulso a sumergirme en el mundo de la programación. Soy "Full Stack Developer" nivel Junior. Mi objetivo inmediato es obtener experiencia laboral, la cual me permita adquirir nuevas herramientas de trabajo e ir ampliando tanto mi desarrollo personal como profesional.
        </p></span
      >
    </div>
  </div>
</div>
