<div class="container-fluid educacion1">
  <div class="row-about">
    <h1 class="title-educacion text-uppercase text-white mx-2 pt-5 mb-1">
      educación
    </h1>
    <div class="col">
      <h3 class="title-educacion text-white d-inline mt-4">
        Argentina Programa #Se Programar
      </h3>
      <p class="date text-white d-inline px-2 h5">(2021)</p>
      <p class="educacion text-white px-1 mt-3">
        Programa de capacitación, impulsada por el Ministerio de Desarrollo
        Productivo de la Nación y la Cámara Empresarial de Software y Servicios
        Informáticos (CESSI), dividido en tres módulos durante los cuales
        incorporé y apliqué los fundamentos básicos de la programación.
        Programación imperativa mediante el lenguaje JavaScript, las nociones
        más importantes y estructura de datos. Introducción al paradigma de
        objetos utilizando el lenguaje llamado Ruby, con el objetivo de lograr
        solucionar problemas y modelar la realidad empleando objetos que se
        comunican entre ellos.
      </p>
    </div>
    <div class="col">
      <h3 class="title-educacion text-white d-inline mt-4">
        Argentina Programa #Se Programar
      </h3>
      <p class="date text-white d-inline px-2 h5">(2021)</p>
      <p class="educacion text-white px-1 mt-3">
        Programa de capacitación, impulsada por el Ministerio de Desarrollo
        Productivo de la Nación y la Cámara Empresarial de Software y Servicios
        Informáticos (CESSI), dividido en tres módulos durante los cuales
        incorporé y apliqué los fundamentos básicos de la programación.
        Programación imperativa mediante el lenguaje JavaScript, las nociones
        más importantes y estructura de datos. Introducción al paradigma de
        objetos utilizando el lenguaje llamado Ruby, con el objetivo de lograr
        solucionar problemas y modelar la realidad empleando objetos que se
        comunican entre ellos.
      </p>
    </div>
    <div class="col">
      <h3 class="title-educacion text-white d-inline mt-4">
        Argentina Programa #Se Programar
      </h3>
      <p class="date text-white d-inline px-2 h5">(2021)</p>
      <p class="educacion text-white px-1 mt-3">
        Programa de capacitación, impulsada por el Ministerio de Desarrollo
        Productivo de la Nación y la Cámara Empresarial de Software y Servicios
        Informáticos (CESSI), dividido en tres módulos durante los cuales
        incorporé y apliqué los fundamentos básicos de la programación.
        Programación imperativa mediante el lenguaje JavaScript, las nociones
        más importantes y estructura de datos. Introducción al paradigma de
        objetos utilizando el lenguaje llamado Ruby, con el objetivo de lograr
        solucionar problemas y modelar la realidad empleando objetos que se
        comunican entre ellos.
      </p>
    </div>
  </div>
</div>
