<div class="container-fluid hss">
  <h1 class="title-hss text-uppercase text-white pt-5 mx-2 mb-5">
    hard & soft skill
  </h1>
  <div class="row text-center d-flex justify-content-center">
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'3rem'"
        [titleFontWeight]="'bold'"
        [titleColor]="'#ffffff'"
        [percent]="95"
        [radius]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#ff5d05'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="HTML"
      ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [title]="'CSS'"
        [titleFontSize]="'3rem'"
        [titleFontWeight]="'bold'"
        [titleColor]="'#ffffff'"
        [percent]="87"
        [radius]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#1579e5'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="CSS"
      ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [title]="'JS'"
        [titleFontSize]="'3rem'"
        [titleFontWeight]="'bold'"
        [titleColor]="'#000000'"
        [percent]="75"
        [radius]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#f7df1e'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="Java Script"
      ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [title]="'Java'"
        [titleFontSize]="'3rem'"
        [titleFontWeight]="'bold'"
        [titleColor]="'white'"
        [percent]="85"
        [radius]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#ffa033'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="Java"
      ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [percent]="91"
        [radius]="90"
        [imageSrc]="'../assets/bootstrap.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#ffffff'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="Bootstrap"
      ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [percent]="100"
        [radius]="90"
        [imageSrc]="'../assets/trabajoEnEquipo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#ffffff'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="Trabajo en Equipo"
      ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [percent]="70"
        [radius]="90"
        [imageSrc]="'../assets/English.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#ffffff'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="Ingles"
      ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 circle d-inline-block">
      <circle-progress
        [percent]="89"
        [radius]="90"
        [imageSrc]="'../assets/git-hub.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="90"
        [backgroundPadding]="-15"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#05f901'"
        [backgroundColor]="'#ffffff'"
        [showUnits]="false"
        [showInnerStroke]="false"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="900"
        title="Git-Hub"
      ></circle-progress>
    </div>
  </div>
</div>
