<div class="container-fluid experiencia">
  <div class="row-about">
    <h1 class="title-experiencia text-uppercase text-white mx-2 pt-0 mb-1">
      experiencia laboral
    </h1>
    <div class="col">
      <h3 class="title-trabajo text-white d-inline mt-4">Colmaco SRL</h3>
      <p class="date text-white d-inline px-2 h5">(2008 - 2013)</p>
      <p class="trabajo text-white px-1 mt-3">
        Trabaje en el sector logístico. Adquiriendo conocimientos en cuanto al
        sistema de layout implementado para la gestión del los depósitos. Con el
        paso del tiempo y al haber incorporado experiencia sobre el correcto
        manejo del stock de los productos, me otorgaron la categoría de
        Recibidor y clasificador de guía. En esa nueva función me encargaba de
        administrar las ubicaciones de los pallets de mercadería, respetando la
        debida rotación de la mercadería, y los distintos espacios disponibles
        en los racks donde se almacenaban los pedidos ya realizados. .
      </p>
    </div>
    <div class="col">
      <h3 class="title-trabajo text-white d-inline my-5">
        Ministerio de Seguridad
      </h3>
      <p class="date text-white d-inline px-2 h5">(2014 - 2022)</p>
      <p class="trabajo text-white px-1 mt-3">
        Ingrese en esta institución con el fin de poder transitar y descubrir
        una nueva etapa de mi vida. En esta etapa he sacado el mayor provecho
        que estuvo a mi alcance, ya que aprendí muchas cosas sobre leyes,
        derechos y obligaciones de las personas. Como asi también he aprovechado
        para incrementar mis conocimientos tecnológicos realizando un curso
        dictado por la parte académica del ministerio de seguridad. Dicho curso
        se basaba en el desarrollo de aplicaciones móviles.
      </p>
    </div>
    <div class="col">
      <h2 class="title-trabajo text-white d-inline mt-4">
        Service Oficial Multimarcas
      </h2>
      <p class="date text-white d-inline px-2 h5">(2015 - 2016)</p>
      <p class="trabajo text-white px-1 mt-3">
        En este empleo incorpore el conocimiento sobre el funcionamiento y
        gestión de un Service Oficial. Atravesando por cada una de las etapas
        que es sometido un aparato tecnológico
        (recepción-diagnostico-reparación-entrega). Debiendo asi interactuar con
        distintas partes que conforman el ecosistema de las
        reparaciones(clientes-proveedores-transportes).
      </p>
    </div>
    <div class="col">
      <h2 class="title-trabajo text-white d-inline mt-4">Taller mecánico</h2>
      <p class="date text-white d-inline px-2 h5">(2016 - 2021)</p>
      <p class="trabajo text-white px-1 mt-3">
        En forma paralela al trabajo de policía, he trabajado en un taller
        mecánico. Allí fui involucrándome con el mundo de los vehículos, su
        funcionamiento en general y reparación de los mismos. Fue así que pude
        fusionar mi pasión por la tecnología y me perfeccione en la parte de
        escaneo automotriz, pudiendo encontrar, reconocer y reparar cualquier
        tipo de fallas que se graben en la Ecu (Unidad de control electronica)
        del vehículo.
      </p>
    </div>
  </div>
</div>
